<h3>emillimill.com</h3>
<div align="center"><img class="emoly" src="/assets/display.jpg"></div>
<p> Emily is a recent Penn State Computer Science Graduate and
  <br>she is fond of <b>programming</b> and <b>the arts</b>.
  <br>She is finally breaking out of her shell and she wants to
  <br>show who she is and what she does for the curious minds.
  <br>
  <br>Emily fell in love with computers and solving
  <br>technological issues for her family members at a young age.
  <br>Things such as gaming and tinkering with her laptop's system settings
  <br>in her past only piqued her interest further until she broke.
  <br>Emily finally knew what she wanted to do and that was to program.
  <br>She always thought programming was complicated
  <br>when it was really just a repetition of steps.
</p>
