<h3>emillimill.com</h3>
<br>
<br>
<p> Emily will do her best to respond to emails as she gets them. Although her schedule
  <br>is undetermined, she checks her email every day to ensure her contactors are put first.
  <br>
  <br>If the matter is urgent, please write <b>"urgent"</b> in your "subject" tab.
</p>
<div class= "flex-container" align="center">
  <form action="mailto:eambuinessmail@gmail.com" method="get" enctype="text/plain">
    <div>
      <label for="f_name"><b>* First Name</b>:
        <input type="text" name="f_name" id="f_name"/>
      </label>
    </div>
    <div>
      <label for="l_name"><b>* Last Name</b>:
        <input type="text" name="l_name" id="l_name"></label>
    </div>
    <div>
      <label for="email"><b>* Your Email</b>:
        <input type="text" name="email" id="email"/>
      </label>
    </div>
    <div>
      <label for="subject"><b>* Subject</b>:
        <input type="text" name="subject" id="subject"></label>
    </div>
    <div>
      <br>
      <label>Message:</label>
      <br/>
      <textarea name="message" rows="12" cols="35"></textarea>
    </div>
    <div>
      <button type="submit" name="submit" value="Send">Send</button>
    </div>
  </form>
</div>
<br>
