<h3>emillimill.com</h3>
<div align="center"><img class="website" border="5px solid black" width="400" height="200" src="/assets/img.png">
</div>
<div align="center"><h4>www.emillimill.com:</h4></div>
<div align="center"><p>This was my first solo project, and my most precious one by far. I was
  <br>working on this for a long time. However, due to college keeping me occupied,
  <br>I finished this project as of Summer 2021. This website showcases everything I have
  <br>done in school, my current resume, displays a contact forum, where anyone interested
  <br>in my work or what I do can message me through there. It also displays a list of
  <br>projects in my portfolio page that contain the work that I've done that I am most
  <br>proud of, (the page you are on right now!)</p></div>

<div align="center"><img class="website" border="5px solid black" width="400" height="200" src="/assets/music%20player.png">
</div>
<div align="center"><h4>Angular Music Player:</h4></div>
<div align="center"><p>This was a fun, music player assignment given to me by my Netcentric class.
  <br>I used Angular CLI, with the help of free-to-use .mp3 files to construct our own, personalized
  <br>music streaming application. I also implemented a search bar, where if the user searched up a
  <br>letter (upper-case or lower,) then the song that matches the most would show up on the "Top
  <br>Songs" page. It can also pause, skip to the next track, or skip to a precious track.</p></div>

<div align="center"><img class="scavenge" border="5px solid black" width="400" height="200" src="/assets/scavenge.png">
</div>
<div align="center"><h4>Scavenge:</h4></div>
<div align="center"><p>Scavenge is a virtual reality space scavenging game that uses the Unity engine,
  <br>along with C# scripts to run and do tasks. It was constructed as a senior project
  <br>for Penn State Harrisburg's Capstone program. As you travel from numerous derelict ships,
  <br>your task is to collect or "scavenge" items in hopes to craft and upgrade items
  <br>for the player and their ship alike.</p></div>


