<h3>emillimill.com</h3>
<div class="row">
  <div class="column">
    <h4>Education</h4>
    <p><b>Penn State University (Capitol College,) 777 West Harrisburg Pike, Middletown PA 17057</b>
      <br>I obtained a bachelor’s degree in <b>computer science</b>.
      <br>This program is “designed to prepare students for employment
      <br>in engineering, scientific, industrial, and business environments
      <br>as <b>software developers</b>, <b>programmers</b>, and <b>systems analysts</b>.”
      <br>I earned a <b>3.0</b> GPA of the required <b>2.0</b> GPA, studying
      <br>math and science-oriented subjects.</p>
  </div>
  <div class="column">
    <h4>Work Experience</h4>
      <p><b>NexLine Communications: 19 Shoemaker Street, Forty Fort, PA 18704 (2019)</b></p>
    <ul>
      <li> &bull; Programming and booting telephones</li>
      <li> &bull; Troubleshoot phones for businesses in the local area</li>
      <li> &bull; Writing tickets in company’s ticketing system</li>
      <li> &bull; Company financing using Quickbooks</li>
    </ul>
    <br>
    <br>
    <p><b>New York Life, Home Office: 51 Madison Ave, New York, NY 10010 (2021)</b></p>
    <ul>
      <li> &bull; Troubleshoot with internal web-based application called “eMoney”</li>
      <li> &bull; Where you can keep track of a client’s financial health</li>
      <li> &bull; Working with client’s sensitive information</li>
      <li> &bull; Organizing and troubleshooting data in MS Excel</li>
      <li> &bull; Technology meetings to make sure that eMoney was working correctly</li>
      <li> &bull; Provide customer service when speaking to advisors who were having issues</li>
    </ul>
  </div>
  <div class="column">
    <h4>Professional Experience</h4>
    <p><b>Programming Languages: C++, Java, C#, Python, SQL, MIPS Assembly, HTML, JavaScript, Netcentric</b></p>
    <p><b>Databases: SQL Injections, Database Design, Optimizing Queries, Relational Algebra</b></p>
    <ul>
      <li> &bull; Preventing SQL Injections</li>
      <li> &bull; Squirrel SQL Client</li>

    </ul>
    <p><b>Python: Artificial Intelligence, Path Finding Algorithms</b></p>
    <ul>
      <li> &bull; Optimal Path finding with A*</li>
      <li> &bull; Scripts to search through mappings of data</li>
    </ul>
    <p><b>Netcentric: Angular, Vue, React, Component-Based Web Development</b></p>
    <ul>
      <li> &bull; Built personal website</li>
      <li> &bull; Weather APIs</li>
      <li> &bull; Parsing JSON data</li>
    </ul>
    <p><b>Data Structures and Algorithms:</b></p>
    <ul>
      <li> &bull; Analysis of algorithms using Master Theorem</li>
      <li> &bull; Recursive-based programming with Java</li>
      <li> &bull; Finding optimal solutions with constraints</li>
      <li> &bull; Greedy Algorithms</li>
      <li> &bull; Sorting Algorithms</li>
    </ul>
    <p><b></b></p>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

